main {
    width: 100%;
    background-color: white;
}


@media screen and (min-width: 600px) {
    main {
        background-color:grey;
    }
}


@media screen and (min-width: 960px) {
   main {
    background-color: grey;
   }
}